### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Robot Framework test
robotTests/log.html
robotTests/output.xml
robotTests/report.html
robotTests/selenium-screenshot*

robotTests/reports/log.html
robotTests/reports/output.xml
robotTests/reports/report.html
robotTests/reports/selenium-screenshot*